body {
  margin: 0;
  background-color: #637081;
  color: white;
}

* {
  box-sizing: border-box;
}

#page-wrap{
    padding-bottom: 10px;
    padding-top: 10px;
}

/* font */
/* @font-face{
  font-family: "helevetica-neu";
src: local("helevetica-neu"),
 url("./Fonts/helvetica-neu.ttf") format("truetype");
} */
@font-face{
  font-family: "Coolvetica";
src: local("CoolveticaRg-Regular"),
 url("./Fonts/CoolveticaRg-Regular.woff") format("truetype");
}
